name: E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2  # ジョブ全体のタイムアウトを2分に設定

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ runner.os }}-${{ hashFiles('**/deno.json') }}

      - name: Install Playwright browsers
        run: cd ./e2e && npx playwright install chromium

      - name: Set up Deno
        uses: denoland/setup-deno@909cc5acb0fdd60627fb858598759246509fa755 # 2.0.2
        with:
          deno-version: "2.x"

      - name: Install dependencies
        run: pwd && ls -la && deno cache **/*.ts **/*.tsx

      - name: Run E2E tests
        run: deno task test:full
